@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Top Books";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Here you can find information on books you always wanted to reed!</h2>
</hgroup>

<article>
    <p>
        Here will be soon...
    </p>
</article>