@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Enthralling Movies";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Here you can find information on movies you always wanted to watch!</h2>
</hgroup>

<div itemscope itemtype="http://schema.org/Review" itemid="#movie">
    <h3 itemprop="name">The Shawshank Redemption</h3>
    has been reviewed by <span itemprop="reviewBody">IMDB</span>
    with a combined rating of <span itemprop="reviewRating">9.3</span>.
    Its genre is <span itemprop="genre">Crime, Drama</span>
    and it premiered in <span itemprop="datePublished">1994</span>.
</div>

<div itemscope itemtype="http://schema.org/Review" itemid="#movie">
    <h3 itemprop="name">The Godfather</h3>
    has been reviewed by <span itemprop="reviewBody">IMDB</span>
    with a combined rating of <span itemprop="reviewRating">9.2</span>.
    Its genre is <span itemprop="genre">Crime, Drama</span>
    and it premiered in <span itemprop="datePublished">1972</span>.
</div>

<div itemscope itemtype="http://schema.org/Review" itemid="#movie">
    <h3 itemprop="name">The Godfather: Part II</h3>
    has been reviewed by <span itemprop="reviewBody">IMDB</span>
    with a combined rating of <span itemprop="reviewRating">9</span>.
    Its genre is <span itemprop="genre">Crime, Drama</span>
    and it premiered in <span itemprop="datePublished">1974</span>.
</div>

<div itemscope itemtype="http://schema.org/Review" itemid="#movie">
    <h3 itemprop="name">The Dark Knight</h3>
    has been reviewed by <span itemprop="reviewBody">IMDB</span>
    with a combined rating of <span itemprop="reviewRating">9</span>.
    Its genre is <span itemprop="genre">Action, Crime, Drama</span>
    and it premiered in <span itemprop="datePublished">2008</span>.
</div>

<div itemscope itemtype="http://schema.org/Review" itemid="#movie">
    <h3 itemprop="name">12 Angry Men</h3>
    has been reviewed by <span itemprop="reviewBody">IMDB</span>
    with a combined rating of <span itemprop="reviewRating">8.9</span>.
    Its genre is <span itemprop="genre">Crime, Drama</span>
    and it premiered in <span itemprop="datePublished">1957</span>.
</div>