@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Enthralling Movies";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Here you can find information on movies you always wanted to watch!</h2>
</hgroup>

<article>
    <p>
        Here will be soon...
    </p>
</article>