@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Interesting Persons";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Here you can find information on persons you always wanted to know about!</h2>
</hgroup>

<article>
    <p>
        <div itemscope itemtype="http://schema.org/Person" itemid="#person">
            <h3 itemprop="name">Kristaps Porzingis</h3>
            is a <span itemprop="jobTitle">proffesional basketball player</span>,
            playing for <span itemprop="worksFor">New York Knicks, NBA</span>,
            <span itemprop="workLocation">USA</span>.
            He is <span itemprop="height">2.21m</span> tall.
            He was born in <span itemprop="birthDate">1995-08-02</span>, <span itemprop="birthPlace">Liepaja</span>.
        </div>
    </p>
</article>