@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Top Persons";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Here you can find information on persons you always wanted to know about!</h2>
</hgroup>

<article>
    <p>
        Here will be soon...
    </p>
</article>